<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @list.image_url %>');">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 movies-list pt-4 pb-4">
      <% @list.bookmarks.each do |bookmark| %>

        <div class="card card-movie">

          <%= image_tag("#{bookmark.movie.poster_url}") %>

          <div class="content p-3">

            <div class="d-flex justify-content-between align-items-center">
              <h2><%= bookmark.movie.title %></h2>
              <p><i class="fa-solid fa-star text-info"></i> <%= bookmark.movie.rating %></p>
            </div>

            <p><%= bookmark.movie.overview %></p>

            <div class="d-flex justify-content-between">
              <blockquote>
                <p><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %></p>
              </blockquote>
              <%= link_to "Delete bookmark", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"ms-2"%>
            </div>

          </div>
        </div>
      <% end %>

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <h2>Add a bookmark</h2>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment %>
        <%= f.input :movie_id, collection: Movie.all %>
        <%= f.button :submit, class:"btn btn-primary" %>
      <% end %>

        <%= link_to "Back to lists", lists_path %>
    </div>
  </div>

</div>
