<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>


  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container d-flex justify-content-center">
      <%= link_to "/lists", class: "navbar-brand" do %>
        <%= image_tag "https://www.svgrepo.com/show/35017/popcorn.svg" %>
      <% end %>
    </div>
  </div>


    <%= yield %>
  </body>
</html>
